body {
  background-color: #37517e  ;
}
.uploading{
padding-top: 30px;
padding-left: 50%;
}
.profilepic{
  border-radius: 100% ;
  width: 90px ;
}
.uploadimage{
  margin-top: 15px;
      margin-right: 40%;
}
.profile-button {
    background: #37517e;
    box-shadow: none;
    border: none
}
